/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, timeDelta, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** custom style **/

canvas {
	background-color: #333333;
}

body {
    overflow: hidden;
}

#shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0px 0px 50px 3px rgba(0,0,0,0.38);
    -moz-box-shadow: inset 0px 0px 50px 3px rgba(0,0,0,0.38);
	box-shadow: inset 0px 0px 182px 55px rgba(0,0,0,1);
	pointer-events: none;
}

#topUi {
	position: fixed;
	top: 30px;
	left: 30px;
    z-index: 3;
}

#bottomUi {
	position: fixed;
	bottom: 30px;
	right: 30px;
    z-index: 3;
}

#scaleSlider {
	position: fixed;
    bottom: 28px;
    right: 100px;
}

#ui {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 3;
}

.resourceWrapper {
	display: flex;
	margin-bottom: 2px;
}

.resourceWrapper > * {
    flex-grow: 1;
}

#resources {
	padding: 10px;
}

.resourceTitle {
    min-width: 70px;
}

.storage-container-solid,
.storage-container-liquid,
.storage-container-gas,
.storage-container-plasma {
	margin-bottom: 5px;
	border: 1px solid rgba(255,255,255,0.3);
	text-align: center;
}

.storage-container-solid {
    max-width: 55px;
    height: 27px;
    padding: 5px 5px 5px 0px;
    text-align: center;
}
.solid {
	background: gray;
	height: 10px;
	width: 5px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: top;
}
.solid.active {
	background: #b96c40;
}

.storage-container-liquid {
	max-width: 50px;
	padding: 5px;
}
.liquid {
	background: gray;
	width: 3px;
	height: 30px;
	margin-right: 2px;
	display: inline-block;
	vertical-align: top;
}
.liquid.active {
	background: aquamarine;
}

.storage-container-gas {
	max-width: 50px;
	padding: 5px;
}
.gas {
	background: gray;
	height: 10px;
	width: 5px;
	display: inline-block;
}
.gas.active {
	background: greenyellow;
}

.storage-container-plasma {
	max-width: 50px;
	padding: 5px;
}
.plasma {
	background: gray;
	width: 50px;
	height: 1px;
	margin-bottom: 2px;
	display: block;
}
.plasma.active {
	background: blue;
}

#optionsContainer label,
#optionsContainer input {
	color: white;
}

#options {
	cursor: pointer;
}

#optionsContainer {
	display: none;
}

#optionsContainer.visible {
	display: block;
}

#menu {
    width: 146px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    color: #34c7c1;
    z-index: 4;
    border: 1px solid #34c7c1;
    background: rgba(255, 255, 255, 0.11);
}
#menu .menu-options {
	list-style: none;
}
#menu .menu-options .menu-option {
	font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-family: sans-serif;
    border-bottom: 1px solid #4d6967;
}
#menu .menu-options .menu-option:last-child {
	border: none;
}
#menu .menu-options .menu-option:hover {
	background: rgba(0, 0, 0, 0.2);
}

#info {
	position: fixed;
    bottom: 5px;
    left: 5px;
}

#info > * {
	display: inline-block;
	margin-right: 10px;
	color: #34c7c1;
	font-family: sans-serif;
	font-style: italic;
	font-size: 12px;
}