/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, timeDelta, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** modal style **/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: linear-gradient(black, transparent);
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: all 0.35s ease-in;
	z-index: 4;
}

.modal.is-visible {
	visibility: visible;
	opacity: 1;
}

.modal h2 {
	font-size: 40px;
    font-family: sans-serif;
    color: #32c3ca;
    padding: 10px;
}

.modal-dialog {
    position: relative;
    /* border-radius: 3px; */
	border-top: 1px solid rgba(127, 255, 212, 0.25);
	border-bottom: 1px solid rgba(127, 255, 212, 0.25);
    /* box-shadow: 0px 0px 20px 5px rgba(71, 129, 134, 0.5); */
    background: rgb(20 20 20 / 65%);
    overflow: auto;
    cursor: default;
    width: 80vw;
    height: 77vh;
    z-index: 5;
}

.modal section {
	color: white;
}

.modal-dialog > * {
	padding: 1rem;
}

.modal-header,
.modal-footer {
	background: lightgray;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.builtin {
	font-size: 0.6rem;
}

#slotContainer,
#availableModulesContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    height: auto;
}

#slotContainer {
	width: 40%;
}
#availableModulesContainer {
    width: calc(60% - 105px);
}

.modal .close-modal {
	position: absolute;
    top: 20px;
	right: 20px;
	font-size: 20px;
	padding: 10px 15px;
}

.modal button {
    padding: 4px 15px 5px;
    border: none;
    background: #32c3ca;
    color: #0c181b;
    font-size: 14px;
    cursor: pointer;
	outline: none;
}

.modal p + p {
	margin-top: 1rem;
}

.modal .modal-panel {
	border-top: 1px solid rgba(127, 255, 212, 0.25);
	border-bottom: 1px solid rgba(127, 255, 212, 0.25);
    background: rgba(16, 33, 35, 0.7);
    width: calc(33% - 10px);
    margin-bottom: 20px;
    height: 600px;
    margin-right: 20px;
}

.storage-type {
	width: 100%;
    color: #ffe000;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1rem;
}

.storage-type .svg {
	height: 25px;
    position: relative;
    bottom: -6px;
    right: 0px;
	filter: invert(55%) sepia(100%) saturate(3.5) hue-rotate(380deg);
}

.engine-type {
	width: 100%;
    color: #00ffa1;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1rem;
}

.ship-modal #tradepost-info {
    max-height: 295px;
    width: 100%;
    height: 100px;
}

.engine-type .svg {
	height: 25px;
    position: relative;
    bottom: -6px;
    right: 0px;
	filter: invert(55%) sepia(100%) saturate(3.5) hue-rotate(100deg);
}

.modal #modalContent {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
}

h3.modal-subtitle {
	background: #0b171a;
    background: rgba(28, 56, 60, 0.7);
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
}

.modal h4 {
    color: #32c3ca;
    display: inline-block;
}

.modal-subcontent-container {
    padding: 10px;
    max-height: 540px;
    overflow: auto;
}

.modal-commodity-container.modal-subcontent > * {
    display: inline-block;
}

.modal p.modal-text {
	display: inline-block;
}

.modal-subcontent {
	padding: 15px;
	display: flex;
    border-bottom: 1px solid rgba(127, 255, 212, 0.25);
}

.modal-subcontent-container > .modal-subcontent:last-of-type {
	border-bottom: none;
}

.modal-subcontent-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(28, 56, 60, 0.7);
}

.modal-subcontent-container::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(28, 56, 60, 0.7);
}

.modal-subcontent-container::-webkit-scrollbar-thumb {
    background-color: #32c3ca;
}

.modal-commodity-amount {
	flex-grow: 1;
	color: #6e8f94;
    font-size: 11px;
    margin-top: 7px;
    margin-left: 2px;
}

.modal-commodity-price {
	margin-left: 5px;
    color: #32c3ca;
    font-size: 14px;
	margin-top: 5px;
	min-width: 80px;
	text-align: right;
}

.modal-commodity-name {
	margin-top: 4px;
}

#tradepost-info h4 {
    min-width: 150px;
}

/*TODO: wert bei eingabe in input errechnen */
.modal-commodity-value-info {
	position: absolute;
	right: 6px;
    top: 7px;
    font-size: 12px;
    color: #32c3ca;
}

.modal-commodity-input-container {
	position: relative;
	width: 130px;
}

.modal input[type="number"] {
	width: 130px;
    padding: 5px 5px;
    border: none;
    background: rgba(28, 56, 60, 0.7);
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#topUi button {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 1.2rem;
	background: rgb(0 0 0 / 50%);
}

#topUi button:hover {
    background: rgb(0 0 0 / 70%);
}

#topUi button:hover img {
    filter:invert(1);
}

.modal button {
	position: relative;
}

.modal.shipyard-modal .modal-panel,
.modal.shipyard-modal h3.modal-subtitle {
    background: rgb(35 34 16 / 70%);
}

.modal.shipyard-modal .modal-dialog,
.modal.shipyard-modal .modal-panel,
.modal.shipyard-modal h3.modal-subtitle {
	border-top: 1px solid rgb(255 246 127 / 25%);
	border-bottom: 1px solid rgb(255 246 127 / 25%);
}

.modal.shipyard-modal h2 {
	color: #ffeb00;
}

.modal.shipyard-modal button {
	background: #ffeb00;
}

.modal.ship-modal h2 {
	color: #dbdbdb;
}

.modal.ship-modal button {
	background: #dbdbdb;
}

.modal.ship-modal .modal-panel,
.modal.ship-modal h3.modal-subtitle {
    background: rgb(255 255 255 / 10%);
}

.modal.ship-modal .modal-dialog,
.modal.ship-modal .modal-panel,
.modal.ship-modal h3.modal-subtitle {
	border-top: 1px solid rgb(255 255 255 / 25%);
	border-bottom: 1px solid rgb(255 255 255 / 25%);
}

/* progress bar */

.progress-bar {
	width: 100%;
	height: 1rem;
	background-color: transparent;
	border: 1px solid white;
}

.storagemodule-container .progress-bar {
	border: 1px solid #f8e000;
}

.storagemodule-container .progress-bar .progress {
	background-color: #f8e000;
}

.progress-bar .progress {
	width: 40%;
	height: 1rem;
	background-color: white;
}

.slot {
    width: 100px;
    height: 100px;
    margin: 1rem;
    border: 1px solid rgb(255 255 255 / 50%);
    border-radius: 1px;
    background: rgb(255 255 255 / 10%);
    text-align: center;
	position: relative;
}

.slot.slot-storagemodule {
    border: 1px solid rgb(253 206 42 / 50%);
	background-color: rgb(253 206 42 / 10%);
}

.storagemodule-container,
.enginemodule-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slot.slot-enginemodule {
    border: 1px solid rgb(42 253 144 / 50%);
    background-color: rgb(42 253 144 / 10%);
}
/* icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img.svg {
    position: relative;
    bottom: 0.6rem;
    right: 0.5rem;
}

.svg {
	height: 20px;
	filter: invert(0.7);
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

[data-animation].is-visible .modal-dialog {
	opacity: 1;
	transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
	transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
	transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
	transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
	transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
	transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
	transform-origin: top left;
	transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
	animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
	transform: none;
}

@keyframes mixInAnimations {
	0% {
		transform: translateX(-100%);
	}

	10% {
		transform: translateX(0);
	}

	20% {
	  transform: rotate(20deg);
	}

	30% {
	  transform: rotate(-20deg);
	}

	40% {
	  transform: rotate(15deg);
	}

	50% {
	  transform: rotate(-15deg);
	}

	60% {
	  transform: rotate(10deg);
	}

	70% {
	  transform: rotate(-10deg);
	}

	80% {
	  transform: rotate(5deg);
	}

	90% {
	  transform: rotate(-5deg);
	}

	100% {
	  transform: rotate(0deg);
	}
}

/** custom style **/

canvas {
	background-color: #333333;
}

body {
	overflow: hidden;
	font-family: sans-serif;
}

#shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0px 0px 50px 3px rgba(0,0,0,0.38);
    -moz-box-shadow: inset 0px 0px 50px 3px rgba(0,0,0,0.38);
	box-shadow: inset 0px 0px 182px 55px rgba(0,0,0,1);
	pointer-events: none;
}

#topUi {
	position: fixed;
	top: 30px;
	right: 30px;
    z-index: 3;
}

#topUi > i {
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
}

#bottomUi {
	position: fixed;
	bottom: 30px;
	right: 30px;
    z-index: 3;
}

#scaleSlider {
	position: fixed;
    bottom: 28px;
    right: 100px;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 3;
}

.resourceWrapper {
	display: flex;
	margin-bottom: 2px;
}

.resourceWrapper > * {
    flex-grow: 1;
}

#resources {
	padding: 10px;
}

.resourceTitle {
    min-width: 70px;
}

.storage-container-solid,
.storage-container-liquid,
.storage-container-gas,
.storage-container-plasma {
	margin-bottom: 5px;
	border: 1px solid rgba(255,255,255,0.3);
	text-align: center;
}

.storage-container-solid {
    max-width: 55px;
    height: 27px;
    padding: 5px 5px 5px 0px;
    text-align: center;
}
.solid {
	background: gray;
	height: 10px;
	width: 5px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: top;
}
.solid.active {
	background: #b96c40;
}

.storage-container-liquid {
	max-width: 50px;
	padding: 5px;
}
.liquid {
	background: gray;
	width: 3px;
	height: 30px;
	margin-right: 2px;
	display: inline-block;
	vertical-align: top;
}
.liquid.active {
	background: aquamarine;
}

.storage-container-gas {
	max-width: 50px;
	padding: 5px;
}
.gas {
	background: gray;
	height: 10px;
	width: 5px;
	display: inline-block;
}
.gas.active {
	background: greenyellow;
}

.storage-container-plasma {
	max-width: 50px;
	padding: 5px;
}
.plasma {
	background: gray;
	width: 50px;
	height: 1px;
	margin-bottom: 2px;
	display: block;
}
.plasma.active {
	background: blue;
}

#optionsContainer label,
#optionsContainer input,
#topUi i {
	color: white;
}

#optionsContainer {
	display: none;
}

#optionsContainer.visible {
	display: block;
}

#menu {
    width: 146px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    color: #34c7c1;
    z-index: 4;
    border: 1px solid #34c7c1;
    background: rgba(255, 255, 255, 0.11);
}
#menu .menu-options {
	list-style: none;
}
#menu .menu-options .menu-option {
	font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-family: sans-serif;
    border-bottom: 1px solid #4d6967;
}
#menu .menu-options .menu-option:last-child {
	border: none;
}
#menu .menu-options .menu-option:hover {
	background: rgba(0, 0, 0, 0.2);
}

#info {
	position: fixed;
    top: 10px;
    left: 87px;
}

#info > * {
	display: inline-block;
	margin-right: 10px;
	color: #34c7c1;
	font-family: sans-serif;
	font-style: italic;
	font-size: 12px;
}

#topUi > #compressButton {
	display: none;
}

#seperator {
	margin-left: 5px;
	margin-right: 5px;
}

#xCoordinate {
	margin: 0;
}

#speed {
	min-width: 20px;
}

* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						supported by Chrome, Opera and Firefox */
}
